@{
    ViewData["Title"] = "Account Locked";
}

<div> Your account is locked ,please try again after sometime or you may <a asp-action="ForgetPassword"> reset your password by clicking here </a></div>