
@{
    ViewData["Title"] = "Forget password confirmation";
    var message = ViewBag.Message;
}

<div class="text-center text-danger">
    if you have email with us we send link check it please to reset you password.
    <hr />
    <h4>@message</h4>
</div>