@model string

@{
    ViewData["Title"] = ViewBag.Title;
    var heading = ViewBag.Title;
    var message = ViewBag.Message;

}
<div class="text-center text-danger">
    <h3>@heading</h3>
    <div>
        @message
    </div>
    <hr />
    <h4>@Model</h4>
</div>


