html {font-size: 14px;}

@media (min-width: 768px) {
  html {font-size: 16px;}
}

html {
  position: relative;
  min-height: 100%;
}

body{
    background-color:#eee;
}
.MainBody {
    min-height: 670px;
}

.display-4 {
    margin-bottom: 25px;
    font-size: 40px;
}
.titleSize {
    font-size: 40px;
    font-weight: 300;
}
body {
  margin-bottom: 60px;
}

/*Navbar*/
.navbar {
    background-color: #875A7B
}
.navbar li a {font-size: 17px;}
.navbar a i {color: #ccc}


/*SearchForm in index_file*/
.SearchForm {
    padding: 10px;
}

/*Cards in index_file*/
.AllUsers .card {
    display: inline-block;
}
.AllUsers .card-img-top {
    height: 150px;
    width: 100%;
    border: 1px solid #e1e1e1;
}
.card .btn {
    line-height: 1.0;
    font-size: 0.9rem;
    padding: 6px;
}
.card-header h3 {text-align: center;font-size: 1.5rem;}
.AllUsers .card-body ul {list-style:none;text-align:center;padding:0}
/*End Cards in index_file*/


/*Cards in Details_file*/
.details .card, .details .card img {
    width: 60%;
    margin: auto;
}
.details .card-body {
    text-align: center;
    border: 1px solid #eee
}
.details .card-body ul {list-style:none;text-align:center;padding:0}
/*End Cards in Details_file*/



.Update .form-control {
    display: inline-block;
    width: 83.3%;
}
.Update img {
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
}
.Update label {
    display: block;
}


.form-check {
    padding: 0;
}



/*Summary table*/
.RowStyle {
    background-color: #c3c3c3;
    font-weight:bold;
}
tbody {
    background-color: #fff;
}



/*Fontawsome in login page*/
.fa-google {
    color: #f15151;
}
button:has(.fa-google) {
    border: 1px solid #ccc;
}