@model CreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4">Create</h1>
<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post">
    <div class="Create">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" id="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" id="Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="mb-3 form-check">
            <label asp-for="Department" class="form-label"></label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control" id="Department">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    
        <div class="mb-3 form-check">
            <label asp-for="Photo" class="form-label"></label>
            <input asp-for="Photo" class="form-control" id="Photo" accept="image/png, image/jpg" />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

