@model int
@{
    ViewData["Title"] = "Error 404";
}

<div class="alert alert-danger">
    <hr />
    <h1>Employee with ID = @Model can't be found.</h1>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">
    Click here to see the list of all employee
</a>
