@{
    ViewData["Title"] = "Exist Employee";
}

<h5 class="alert-danger">@ViewBag.ErrorMessage</h5>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">
    Click here to navigate to the home page
</a>

