
@{
    ViewData["Title"] = "NotFound";
}

<h3>@ViewBag.ErrorMessage</h3>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">
    Click here to navigate to the home page
</a>

